<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="black">
    <link rel="shortcut icon" href="../src/icon.ico" type="image/x-icon" />
    <title>Lcrypto</title>
    <link rel="stylesheet" href="./public/css/styles.css" />
</head>
<body>
    <div class="card">
        <div class="head">
            <p>
                Lcrypto
            </p>
        </div>
        <div class="banner">
            <img src="./public/img/Lcrypto Icon.png" alt="" class="img">
        </div>
        <div class="info">
            <p>
                Last updated: 14/06/2024
            </p>
        </div>
        <div class="btns">
            <button class="git">
                <a href="https://github.com/blazeinferno64/Lcrypto">
                    Repository
                </a>
            </button>
            <button class="down">
                Download
            </button>
        </div>
    </div>
    <script defer src="./public/js/script.js"></script>
</body>
</html>